.ProjectCard {
    background-color: rgba(21, 21, 21, 0.468);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.1s ease;
}

.hoverImg{
    width: 200px;
    height: 0px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.1s ease;
    top: 0;
    left: 0;
    position:absolute;
}
.ProjectCardLink{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.GithubLink{
    text-align: center;
}
.ProjectTitleSection{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    width: 100%;
}
.ProjectTitleLeft{
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.ProjectTitleRight{
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.ProjectCardLink p{
    margin-right: 10px;
    font-size: 10px;
}
.ProjectTitleSection h2{
    width: 100%;
}
.ProjectCard:hover {
    cursor: pointer;
}
.ProjectCard h2{
    font-size: 13px;
}
.ProjectCard p{
    font-size: 10px;
}

a{
    color: #eea86e;
    text-shadow: #2e2e2ecc -1px 1px 0px;
    font-size: 10px;
}