.ProjectCard {
    background-color: rgba(21, 21, 21, 0.468);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.1s ease;
}

.ProjectCard img {
    width: 200px;
    height: 0px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.1s ease;
    top: 0;
    left: 0;
    position:absolute;
    /*make it so the element doesn't cause container to resize*/
    


}

.ProjectCard:hover {
    cursor: pointer;
}
.ProjectCard h2{
    font-size: 13px;
}
.ProjectCard p{
    font-size: 10px;
}